@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* *::-webkit-scrollbar {
  display: none;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* transition: all 0.3s ease-in-out; */
}

.section {
    @apply bg-color_pink_light;
}

.section-margin {
    height: 3000px;
    width: 100%;
}

.styleOne,
.styleTwo,
.styleThree {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 278px;
    height: 60px;
    transform-origin: left;
    transform: skewY(-25deg);
}
.styleOne {
    top: 0px;
}

.styleTwo {
    top: 80px;
}

.styleThree {
    top: 80px;
    transform: skewY(25deg);
}
